
body {
    font-family: '微软雅黑', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 16px;
    font-weight: 400;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
li{list-style:none;}
a, a:hover {
    text-decoration: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:transparent;

}
.navbar-default .navbar-brand {
    color:#FFFEFE;
    font-size: 25px;
    font-weight: 300;

}
.navbar-default {
    background-color:rgba(60, 118, 61,0.9);
    border-color:transparent;
    border-radius:0;
}
.navbar-default .navbar-nav>li>a{color:#FFFEFE;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color:#e7e7e7;
}
